<!DOCTYPE html>
<html>
<head>
    <title>MineSweeper</title>
    <link href="js/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="js/lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="js/lib/font-mfizz/css/font-mfizz.css">
    <link href="css/main.css" rel="stylesheet">
	<script type="text/javascript" src="js/lib/prefix-free/prefixfree.min.js"></script>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="icon-bomb"></i> MineSweeper</a>
        </div>
        <div class="collapse navbar-collapse" id="menu-region"></div>
    </div>
</div>

<div class="container">
    <div id="game-region"></div>
</div><!-- /.container -->

<script type="text/javascript" src="js/lib/requirejs/require.js"></script>
<script type="text/javascript" src="js/minesweeper/requireconfig.js"></script>
<script type="text/javascript" src="js/minesweeper/application.min.js"></script>

<script type="text/javascript">
    requirejs(['minesweeper/application'], function(application) {
        application.setup();
        application.start();
    });
</script>
</body>
</html>