<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>Minesweeper tests</title>
    <link href='http://fonts.googleapis.com/css?family=Lora|Istok+Web:700' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="js/lib/jasmine/lib/jasmine-core/jasmine.css"/>
    <script src="js/lib/jasmine/lib/jasmine-core/jasmine.js"></script>
    <script src="js/lib/jasmine/lib/jasmine-core/jasmine-html.js"></script>

    <script src="js/lib/requirejs/require.js"></script>
    <script src="js/minesweeper/requireconfig.js"></script>
    <script src="helper/jquery.js"></script>

    <script type="text/javascript">
        require(['jquery'], function ($) {
            var jasmineEnv = jasmine.getEnv();
            jasmineEnv.updateInterval = 1000;

            var htmlReporter = new jasmine.HtmlReporter();

            jasmineEnv.addReporter(htmlReporter);

            jasmineEnv.specFilter = function (spec) {
                return htmlReporter.specFilter(spec);
            };

            var specs = [];
            specs.push('/minesweeper/model/fieldspec.js');
            specs.push('/minesweeper/model/mazespec.js');
            specs.push('/minesweeper/model/gamespec.js');
            specs.push('/minesweeper/view/fieldspec.js');
            specs.push('/minesweeper/view/gametypespec.js');
            specs.push('/minesweeper/view/menuspec.js');
            specs.push('/minesweeper/view/statusspec.js');
            specs.push('/minesweeper/module/menuspec.js');

            $(function () {
                require(specs, function (spec) {
                    jasmineEnv.execute();
                });
            });
        });
    </script>
</head>
<body>

</body>
</html>